body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background: orangered;
    color: black;
    padding: 0px 0;
    text-align: center;
    position: fixed; /* Make navbar fixed at the top */
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensures it stays on top */
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.welcome {
    height: 100vh; /* Full height of the viewport */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: black;
    background: gray; /* Background color for the welcome section */
}

section {
    padding: 20px;
    margin: 20px;
    background: gray;
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid #35424a;
    padding-bottom: 10px;
}

.project-tile {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background: #35424a;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background: orangered;
}

footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
    nav ul li {
        display: block; /* Stack links vertically */
        margin: 10px 0;
    }
    .welcome h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
}
